<div id="login">
<h1 class="text-center">Admin kimi daxil olun</h1>
    
    <div class="container">
        <div class="container log-error">
            {{#if errorText}}
            <div class="alert alert-danger" role="alert">
                {{errorText}}
            </div>
            {{/if}}
        </div>
        <div id="login-row" class="row justify-content-center align-items-cente ">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="/admin" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="name" id="username" value="{{username}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control">
                        </div>
                     
                        <div class="form-group">
                            <input type="submit" name="submit" class=" form-control btn btn-info btn-md" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>