 <div class="containerAdminCard">
         <div class="card adminCard">
          <h1 class="text-center txtAdminCardH">Admin üçün keçidlər</h1>
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col btnAdm">
        <a class="btn btnAdminCard" href="/users/1">Users</a>

      </div>
      <div class="col btnAdm">
        <a class="btn btnAdminCard" href="/adduser">Add User</a>

      </div>
      <div class="col btnAdm">
        <a class="btn btnAdminCard" href="/admin">Admin</a>

      </div>
    </div>
  </div>
     </div>
   </div>


<div id="login" style="margin-bottom: 4rem;">   
    <div class="container">
        <div class="container log-error">
            {{#if errorText}}
            <div class="alert alert-danger" role="alert">
                {{errorText}}
            </div>
            {{/if}}
        </div>
        <div id="login-row" class=" card mt-3 row justify-content-center align-items-cente ">
            <div id="login-column" class="col-md-12 formUser">
                <div class="imgPart col-md-6">
                   <img src="../uploads/img_admin_login.jpg" alt="" class="loginImg">
                </div>
                <div id="login-box" class="col-md-6" >
                    <form id="login-form" class="form" action="/admin" method="post">
                        <h3 class="text-center textLogin">Admin login</h3>
                        <div class="form-group">
                            <label for="username" class="textForm">Username:</label><br>
                            <input type="text" name="name" id="username" value="{{username}}" class="form-control formInput">
                        </div>
                        <div class="form-group">
                            <label for="password" class="textForm">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control formInput">
                        </div>
                     
                        <div class="form-group btnForm">
                            <input type="submit" name="submit" class=" form-control btn btn-md formBtn" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


  

<style>
    .btnAdminCard
    {
        background-color: #fff;
        color: #3b6ffd;
        width: fit-content;
        border-radius: 15px;
        border-color: #3b6ffd;
    }
    .btnAdminCard:hover
    {
        background-color: #3b6ffd;
        color: #fff;
        border-color: #3b6ffd;
    }
    .containerAdminCard
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .txtAdminCardH
    {
        text-align: center;
        margin-bottom: 2rem;
         color: #3b6ffd;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .adminCard
    {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        width: 50%;
    }
    .card
    {
        background-color: #fff !important;
        position: relative;
        z-index: 400;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btnAdm
    {
        margin: 0.2rem;
    }

    .card:hover {
      box-shadow: 10px 15px 10px -10px rgba(31, 31, 31, 0.5);
      transition: all 0.5s ease;
    }
     .loginImg
    {
        height: 75%;
        width: 90%;
        margin-top: 3rem;
    }
    .imgPart
    {
        display: flex;

    }
    .inputPart
    {
        position: relative;
        right: 0;
        margin-top: 2rem;
    }
    .formUser
    {
        display: flex;
        flex-direction: row;
        padding: 3rem;
    }
    .textLogin
    {
        color: #3b6ffd;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .textForm
    {
        color: #BBB4FF;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.2rem;
    }
    .formInput
    {
        border-radius: 18px;
    }
    .formBtn
    {
         border-radius: 20px;
         background-color: #487AFF;
         width: 42%;
         color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.2rem;
        margin-top: 1rem;
        text-align: center;
    }
    .formBtn:hover
    {
        background-color: #3b6ffd;
    }
    .btnForm
    {
        display: flex;
        justify-content: center;
    }
    .txtAdmin
    {
        margin-top: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #1751ef;
    }
</style>