<div id="login">

    <div class="container">
        {{#if message}}
    <h1>{{message}}</h1>
        {{/if}}
    </div>
    <div class="container">
        <div class="container log-error">
            {{#if errorText}}
            <div class="alert alert-danger" role="alert">
                {{errorText}}
            </div>
            {{/if}}
        </div>
        <div id="login-row" class="card mt-4 row justify-content-center align-items-center">
            <div id="login-column" class="col-md-12 formUser">
                <div class="imgPart col-md-6">
                   <img src="../uploads/img_user_login.jpg" alt="" class="loginImg">
                </div>
                <div id="login-box" class="col-md-6 inputPart">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center textLogin">Login</h3>
                        <div class="form-group">
                            <label for="username" class="textForm">Username:</label><br>
                            <input type="text" name="username" id="username" value="{{username}}" class="form-control formInput">
                        </div>
                        <div class="form-group">
                            <label for="password" class="textForm">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control formInput">
                        </div>
                        <div class="form-group">
                            <label for="username" class="textForm">Company:</label><br>
                            <input type="text" name="company" id="username" class="form-control formInput">
                        </div>
                        <div class="form-group btnForm">
                            <input type="submit" name="submit" class=" form-control btn btn-md formBtn" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{#if userler}}
<h1>salam</h1>
{{/if}}


<style>
    .card
    {
        background-color: #fff !important;
        position: relative;
        z-index: 400;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card:hover {
      box-shadow: 10px 15px 10px -10px rgba(31, 31, 31, 0.5);
      transition: all 0.5s ease;
    }
    .loginImg
    {
        height: 75%;
        width: 90%;
        margin-top: 3rem;
    }
    .imgPart
    {
        display: flex;

    }
    .inputPart
    {
        position: relative;
        right: 0;
        margin-top: 2rem;
    }
    .formUser
    {
        display: flex;
        flex-direction: row;
        padding: 3rem;
    }
    .textLogin
    {
        color: #3b6ffd;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .textForm
    {
        color: #BBB4FF;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .formInput
    {
        border-radius: 18px;
    }
    .formBtn
    {
         border-radius: 20px;
         background-color: #487AFF;
         width: 42%;
         color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.2rem;
        margin-top: 1rem;
        text-align: center;
    }
    .formBtn:hover
    {
        background-color: #3b6ffd;
    }
    .btnForm
    {
        display: flex;
        justify-content: center;
    }

</style>